@import './variables';

footer {
    width: 100%;
    background-color: $footer-background-color;
    height: 50px;
    text-align: center;
    font-family: $secondary-font;
    color: $secondary-color;
    padding: 1rem;

    p {
        margin: 0 0.5rem;
        display: inline-block;
    }

    a {
        color: inherit;
    }
}