$primary-color: #d4a373;
$secondary-color: #fefae0;
$footer-background-color: #bc6c25;
$primary-font: 'Montserrat Alternates', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$regular-font: "Work Sans",sans-serif;
$darkmode-body-background: #1b263b;
$darkmode-footer-background: #0d1b2a;
$darkmode-other-color: #e0e1dd;
$template-features-background: #778da9; 