@import './partials/footer';
@import './partials/header';
@import './partials/variables';


.about {
    color: $primary-color;
}

.container {
    width: 50%;
    margin: auto;

  h1 {
    font-size: 2rem;
    color: $primary-color;
}
}

.test {
    width: max-content;
}