<header>
    <div class="logo">
        <h1>
            Gulp Starter
        </h1>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <!-- as this file is created for separations sake only but at the end gets included in the main html file, so the links will be given to other files/assets as in that particular file -->
                <li><a href="./pages/about.html">About</a></li>
            </ul>
        </nav>
    </div>
</header>